<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/error404.css" />
    <link rel="stylesheet" href="/css/pokemon.css" />
    <link rel="stylesheet" href="/css/pokemon-detail.css" />
  </head>

