<%- include('partials/header', { title: 'Pokémon introuvable' }) %>
<body class="page-404">
  <div class="error-container">

    <div class="pokeball">
      <div class="pokeball-top"></div>
      <div class="pokeball-middle"></div>
      <div class="pokeball-bottom"></div>
    </div>

    <h1 class="error-code">404</h1>
    <h2 class="error-title">Pokémon introuvable</h2>

    <p class="error-text">
      Oups… Ce Pokémon semble s’être échappé dans les hautes herbes.
    </p>

    <a href="/" class="home-btn">
      Retour au Pokédex
    </a>

  </div>
</body>
<%- include('partials/footer') %>